# log files
server/logs/
deploy/logs/

# PID files
server/pids/
deploy/pids/

# cache files
server/cache/

# Python
results*/
server/__pycache__/
infer/__pycache__/
*.py[cod]
*.pyo
.env

# IDE
.idea/
.vscode/
*.swp